// @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
  font-family: Montserrat-Bold;
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Montserrat-Regular;
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat-Medium;
  src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

a {
  font-family: Montserrat-Medium;
}
p {
  font-size: 1.6em;
  font-family: Montserrat-Regular;
}

h1, h2,
input[type=button]{
  font-family: Montserrat-Bold;
}

h1{
  font-size: 2.9rem !important;
}

h3 {
  font-family: Montserrat-Medium;
}

input {
  font-size: 1.3em !important;
}

header {
  z-index: 4;
  .search{
    color: white !important;
  }
  .navbar{
    padding: .5rem 3rem;
    background-color: #ff7f7f;
    color: white;
  }
  position: fixed;
  width: 100%;
  opacity: .8;
  .navbar-nav{
    margin: 0 auto;
  }
  .nav-link {
    font-weight: bolder;
    font-size: 2em;
    color: white !important;
    margin-right: 1.4em;
  }
}

.first{
  &::before{
    z-index: -1;
    content: '';
    position: absolute;
    background-color: #ff7f7f;
    opacity: .7;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
  }

  .first-top {
    .intro { 
      position: absolute;   
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 40%;
      color: white;
      margin-left: 3rem;
      margin: 2;
      h1{
        span{
          display: block;
        }
      }
      h1, p {
        margin-bottom: 2rem;
      }
      input[type=button] {
        background-color: white;
        border: none;
        padding: .8em 2.4em;
        border-radius: 4em ;
        color: #ff7f7f;
      }
    }
    position: relative;
    width: 100%;
    height: 100vh;
    padding-top: 10em;
  }

  .curve{
    margin-top: -1em;
    position: relative;
  }
  position: relative;
  z-index: 1;
  // padding-top: 10em;
  height: 100%;
  // background-color: #ff7f7f;
  background-image: url('https://wallpaperaccess.com/full/286305.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.best-seller-intro {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 4em;
  text-align: center;
  color: white;
}


.best-seller {
  padding-top: 10em;
  height: 100%;
  svg{
    width: 100%;
    z-index: -1;
  }
  background-color: #ff7f7f;
  position: relative;
  bottom: 0;
  width: 100%;
  // padding-bottom: 2em;
  .best-cont {
    width: 80%;
    margin: 0 auto;
    display: flex;
    .dish_img {
      width: 10rem;
      margin: 0 auto;
      img {
        width: 100%;
      }
    }
    .best_seller_items{
      text-align: center;
      color: white;
    }
  }
}
.second {
  height: fit fit-content;
  position: relative;
  padding-top: 7rem;
  // padding-bottom: 7rem;
}
.stat-section{
  height: fit fit-content;
  position: relative;
  // padding-top: 7rem;
  padding-bottom: 7rem;
}
.second-top {
  display: flex;
  width: 100%;
  img {
    width: 25rem;
    height: 25rem;
    object-fit: cover;
    border-radius: 50%;
  }
  .plate, .plate-intro-cont{
    width: 50%;
  }
  .plate {
    width: fit-content;
    margin: 0 auto;
  }
  h1, p {
    margin-bottom: 2rem;
  }
  .plate-intro-cont{
    position: relative;
    .plate-intro{
      z-index: 2;
      margin: 0;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 80%;
      color: #ff7f7f;
      input[type=button] {
        background-color: #ff7f7f;
        border: none;
        padding: .8em 2.4em;
        border-radius: 4em ;
        color: white;
      }
      h2{
        font-size: 3em;
      }
    }

  }
}

.second-bottom{
  // position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #ff7f7f;
  padding-top: 5em;
  padding-bottom: 5em;
  color: white;
  .second-intro{
    h1{
    }
    padding-bottom: 4em;
    text-align: center;
  }
  .stat-cont {
    section{
      position: relative;
      p{
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-family: Montserrat-Bold;
        padding: 15px;
        line-height: 25px;
        font-size: 2.1em;
        text-align: center;
      }
      height: 12rem;
      width: 12rem;
      border-radius: 50%;
      text-align: center;
      border: 3px solid white;
      margin: 0 auto;
    }
    margin: 0 auto;
    width: 70%;
    display: flex;
    text-align: center;
  }
}

.third {
  padding: 10em 0;
  display: flex;
  .right {
    width: 50%;
    .img-cont{
      margin: 0 auto;
      width: fit-content;
    }
    .img-cont img{
        width: 25rem;
        height: 25rem;
        object-fit: cover;
        border-radius: 50%;
    }
  }
  .left{
    position: relative;
    color: #ff7f7f;
    width: 50%; 
    h1{
      margin-bottom: 2rem;
    }
    p{
      margin-bottom: 2rem;
    }
    .third-intro{
      z-index: 2;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 60%;
      
      color: #ff7f7f;
      input[type=button] {
        background-color: #ff7f7f;
        border: none;
        padding: .8em 2.4em;
        border-radius: 4em ;
        color: white;
      }
    }
  }
}

.fourth{
  position: relative;
  background-image: url('https://i.ndtvimg.com/i/2015-12/italian_625x350_41450863014.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
  z-index: 1;
  .mask {
    z-index: 2;
    position: absolute;
    height: 100%;
    background-color: #ff7f7f;
    width: 100%;
    opacity: .6;
  }
  .container{
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: white;
    text-align: center;
    right: 0;
    left: 0;
    margin: auto;
    width: fit-content;
    position: absolute;
    z-index: 3;
    p{
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      margin-bottom: 2rem;  
    }
    img{
      margin: 0 auto;
      width: 20rem;
      height: 20rem;
      object-fit: cover;
      border-radius: 50%;
      margin-bottom: 2rem;
    }
  }
}
.fifth {
  h1{
    margin-bottom: 1em;
  }
  p{
    margin-bottom: 2em;
  }
  .emailForm{
    input[type=email]{
      
     background-color: rgb(226, 226, 226);
     height: 3em;
     width: 25em;
     border-radius: 50px;
     border-bottom-right-radius: 0;
     border-top-right-radius: 0;
     border: none;
     color: rgb(160, 158, 158);
     padding-left: 15px;
     &:focus, &:hover, &:active{
       border: none;
       outline: none;
     }
     &::placeholder{
       color: rgb(160, 158, 158);
     }
   }

   span{
     input{
       background-color: #ff7f7f;
       color: white;
        height: 3em;
        border-radius: 50px;
        width: 11em;
        border: none;
        &:focus, &:hover, &:active{
          border: none;
          outline: none;
          -webkit-transition: all .5s ;
          background-color: #ff7f7f;
        }
     }
     margin-left: -5em;
   }

  }
  color: #ff7f7f;
  padding: 10em 0;
  position: relative;
  text-align: center;
  .container{

    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
.sixth {
  position: relative;
  background-color: #111111;
  color: white;
  .container{
    width: 100%;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    // position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    .right {
      .about, .services{
        margin-right: 2.5em;
      }
      p{
        margin-bottom: .5em;
      }
      width: fit-content;
      display: flex;
      float: right;
    }
    .left{
      width: 50%;
      float: left;
    }
  }
  padding-bottom: 10em;
  height: 100vh;
}
// .curves {
//   height: 2em;
// }




