@font-face {
  font-family: Montserrat-Bold;
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Montserrat-Light;
  src: url(../fonts/Montserrat/Montserrat-Light.ttf);
}

@font-face {
  font-family: Montserrat-Regular;
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat-Medium;
  src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

a {
  font-family: Montserrat-Light;
}

p {
  font-size: 1.6em;
  font-family: Montserrat-Light;
}

h1, h2,
input[type=button] {
  font-family: Montserrat-Bold;
}

h1 {
  font-size: 2.9rem !important;
}

h3 {
  font-family: Montserrat-Medium;
}

input {
  font-size: 1.3em !important;
}

header {
  z-index: 4;
  position: fixed;
  width: 100%;
  opacity: .8;
}

header .search {
  color: white !important;
}

header .navbar {
  padding: .5rem 3rem;
  background-color: #ff7f7f;
  color: white;
}

header .navbar-nav {
  margin: 0 auto;
}

header .nav-link {
  font-weight: bolder;
  font-size: 1.4em;
  color: white !important;
  margin-right: 1.4em;
}

.first {
  position: relative;
  z-index: 1;
  height: 100%;
  background-image: url("https://wallpaperaccess.com/full/286305.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.first::before {
  z-index: -1;
  content: '';
  position: absolute;
  background-color: #ff7f7f;
  opacity: .7;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
}

.first .first-top {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: 10em;
}

.first .first-top .intro {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40%;
  color: white;
  margin-left: 3rem;
  margin: 2;
}

.first .first-top .intro h1 span {
  display: block;
}

.first .first-top .intro h1, .first .first-top .intro p {
  margin-bottom: 2rem;
}

.first .first-top .intro input[type=button] {
  background-color: white;
  border: none;
  padding: .4em 2.6em;
  border-radius: 4em;
  color: #ff7f7f;
}

.first .curve {
  margin-top: -1em;
  position: relative;
}

.best-seller-intro {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 4em;
  text-align: center;
  color: white;
}

.best-seller {
  padding-top: 10em;
  height: 100%;
  background-color: #ff7f7f;
  position: relative;
  bottom: 0;
  width: 100%;
}

.best-seller svg {
  width: 100%;
  z-index: -1;
}

.best-seller .best-cont {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.best-seller .best-cont .dish_img {
  width: 10rem;
  margin: 0 auto;
}

.best-seller .best-cont .dish_img img {
  width: 100%;
}

.best-seller .best-cont .best_seller_items {
  text-align: center;
  color: white;
}

.best-seller .best-cont .best_seller_items p {
  text-align: center;
  width: 80%;
  margin: 2em auto;
}

.second {
  height: fit -webkit-fit-content;
  height: fit -moz-fit-content;
  height: fit fit-content;
  position: relative;
  padding-top: 7rem;
}

.stat-section {
  height: fit -webkit-fit-content;
  height: fit -moz-fit-content;
  height: fit fit-content;
  position: relative;
  padding-bottom: 7rem;
}

.second-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.second-top img {
  width: 25rem;
  height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.second-top .plate, .second-top .plate-intro-cont {
  width: 50%;
}

.second-top .plate {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.second-top h1, .second-top p {
  margin-bottom: 2rem;
}

.second-top .plate-intro-cont {
  position: relative;
}

.second-top .plate-intro-cont .plate-intro {
  z-index: 2;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 80%;
  color: #ff7f7f;
}

.second-top .plate-intro-cont .plate-intro input[type=button] {
  background-color: #ff7f7f;
  border: none;
  padding: .4em 2.6em;
  border-radius: 4em;
  color: white;
}

.second-top .plate-intro-cont .plate-intro h2 {
  font-size: 3em;
}

.second-bottom {
  bottom: 0;
  width: 100%;
  background-color: #ff7f7f;
  padding-top: 5em;
  padding-bottom: 5em;
  color: white;
}

.second-bottom .second-intro {
  padding-bottom: 4em;
  text-align: center;
}

.second-bottom .stat-cont {
  margin: 0 auto;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.second-bottom .stat-cont section {
  position: relative;
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  text-align: center;
  border: 3px solid white;
  margin: 0 auto;
}

.second-bottom .stat-cont section p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: Montserrat-Bold;
  padding: 15px;
  line-height: 30px;
  font-size: 2.1em;
  text-align: center;
}

.third {
  padding: 10em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.third .right {
  width: 50%;
}

.third .right .img-cont {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.third .right .img-cont img {
  width: 25rem;
  height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.third .left {
  position: relative;
  color: #ff7f7f;
  width: 50%;
}

.third .left h1 {
  margin-bottom: 2rem;
}

.third .left p {
  margin-bottom: 2rem;
}

.third .left .third-intro {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60%;
  color: #ff7f7f;
}

.third .left .third-intro input[type=button] {
  background-color: #ff7f7f;
  border: none;
  padding: .4em 2.6em;
  border-radius: 4em;
  color: white;
}

.fourth {
  position: relative;
  background-image: url("https://i.ndtvimg.com/i/2015-12/italian_625x350_41450863014.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.fourth::after {
  z-index: -1;
  content: '';
  position: absolute;
  background-color: #ff7f7f;
  opacity: .7;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
}

.fourth .container {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: white;
  text-align: center;
  right: 0;
  left: 0;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  z-index: 3;
}

.fourth .container p {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 2rem;
}

.fourth .container img {
  margin: 0 auto;
  width: 20rem;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.fifth {
  color: #ff7f7f;
  padding: 10em 0;
  position: relative;
  text-align: center;
}

.fifth h1 {
  margin-bottom: 1em;
}

.fifth p {
  margin-bottom: 2em;
}

.fifth .emailForm input[type=email] {
  background-color: #e2e2e2;
  padding: .4em 2.6em;
  width: 25em;
  border-radius: 50px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border: none;
  color: #a09e9e;
  padding-left: 15px;
}

.fifth .emailForm input[type=email]:focus, .fifth .emailForm input[type=email]:hover, .fifth .emailForm input[type=email]:active {
  border: none;
  outline: none;
}

.fifth .emailForm input[type=email]::-webkit-input-placeholder {
  color: #a09e9e;
}

.fifth .emailForm input[type=email]:-ms-input-placeholder {
  color: #a09e9e;
}

.fifth .emailForm input[type=email]::-ms-input-placeholder {
  color: #a09e9e;
}

.fifth .emailForm input[type=email]::placeholder {
  color: #a09e9e;
}

.fifth .emailForm span {
  margin-left: -5em;
}

.fifth .emailForm span input {
  background-color: #ff7f7f;
  color: white;
  padding: .4em 2.6em;
  border-radius: 50px;
  width: 11em;
  border: none;
}

.fifth .emailForm span input:focus, .fifth .emailForm span input:hover, .fifth .emailForm span input:active {
  border: none;
  outline: none;
  -webkit-transition: all .5s;
  background-color: #ff7f7f;
}

.fifth .container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.sixth {
  width: 100%;
  position: relative;
  background-color: #111111;
  color: white;
  padding-bottom: 10em;
  height: 100vh;
}

.sixth .container {
  width: 100%;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
}

.sixth .container .right {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  width: 50%;
}

.sixth .container .right .about, .sixth .container .right .services {
  margin-right: 2.5em;
}

.sixth .container .right p {
  margin-bottom: .5em;
}

.sixth .container .left {
  width: 50%;
  float: left;
}
/*# sourceMappingURL=delicious.css.map */